
.vs/TestDragAndDrop/v15/Server/sqlite3/storage.ide-wal
.vs/TestDragAndDrop/v15/Server/sqlite3/storage.ide-shm
.vs/TestDragAndDrop/v15/Server/sqlite3/storage.ide
.vs/TestDragAndDrop/v15/Server/sqlite3/db.lock
.vs/TestDragAndDrop/v15/.suo
.gitattributes
